@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.plot {
    position: relative; /* Make the parent container position relative */
    margin: auto;
    width: 50%;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
  }
  
  .plot h1 {
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
  }
  
  .plot p {
    padding: 10px 10px 10px 10px;
  }
  
  .circle1 {
    position: absolute; /* Position the circle absolutely */
    top: 0; /* Move the circle from the top by half of its height */
    left: 50%; /* Move the circle from the left by half of its width */
    transform: translate(-50%, -50%); /* Center the circle */
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    border-radius: 50%;
    background-color: #0fb098a0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle2 {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    background-color: #0fb099;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
button{
    margin-top: 130px;
    background-color: #0fb099;
    color: white;
    border: none;
    width: 300px;
    height: 35px;
    border-radius: 8px;
}
li{
    list-style: none;
    padding: 30px 30px 20px 20px;
    
}
li a{
    color: #0fb099;
    text-decoration: none;
}
#imageContainer {
    width: 400px;
    height: 400px;
    overflow: hidden; /* Ensure the image doesn't overflow */
}

#imageContainer img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}
